
<div class="mx-auto w-75 mt-5">
  <h2>Edit Service Form</h2>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Service Code</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Service name</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Service area</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Service cost</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Service max people</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Standard room</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Pool area</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Number of floors</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Description other convenience</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>


    <div class="col-md-6">
      <label for="inputState" class="form-label">Rent type</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Service type</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block mb-4" style="text-align: center ">Create</button>
    </div>

  </form>
</div>
