<section class="text-center mb-4 container" style="margin-top: 30px">
  <div class="row wow fadeIn">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let facility of facilities">
      <div class="card">

        <div class="view overlay">
          <img
            src="{{facility.serviceImage}}"
            class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5>{{facility.serviceName}}</h5>
          </a>
          <h5>
            <strong>
              <small>Area: {{facility.serviceArea}} m<sup>2</sup></small>
            </strong>
          </h5>

          <h4 class="blue-text">
            <strong>{{facility.serviceCost}}$</strong>
          </h4>
          <br>
          <h3 class="table-remove">
            <a href="#" type="button" class="btn btn-primary btn-rounded btn-sm my-0">Detail</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

