<div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Contract Start Date</th>
      <th>Contract End Date</th>
      <th>Contract Deposit</th>
      <th>Contract Total Money</th>
      <th>Employee Id</th>
      <th>Customer</th>
      <th>Service</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contracts">
      <td>{{contract.contractId}}</td>
      <td>{{contract.contractStartDate | date:'dd/MM/yyyy'}}</td>
      <td>{{contract.contractEndDate | date:'dd/MM/yyyy'}}</td>
      <td>{{contract.contractDeposit}}</td>
      <td>{{contract.contractTotalMoney}}</td>
      <td>{{contract.employeeId}}</td>
      <td>{{contract.customer.customerCode}} - {{contract.customer.customerName}}</td>
      <td>{{contract.services.serviceName}}</td>
    </tr>
    </tbody>
  </table>
</div>
