
<div class="mx-auto w-75 mt-5">
  <h2>Edit Customer Form</h2>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="customerCode" class="form-label">Customer Code</label>
      <input type="customerCode" class="form-control" id="customerCode">
    </div>
    <div class="col-md-6">
      <label for="customerName" class="form-label">Customer name</label>
      <input type="text" class="form-control" id="customerName">
    </div>
    <div class="col-md-6">
      <label for="customerBirthday" class="form-label">Customer Birthday</label>
      <input type="date" class="form-control" id="customerBirthday">
    </div>
    <div class="col-md-6">
      <label for="customerIdCard" class="form-label">Custiomer ID Card</label>
      <input type="text" class="form-control" id="customerIdCard">
    </div>
    <div class="col-md-6">
      <label for="customerPhone" class="form-label">Customer Phone</label>
      <input type="text" class="form-control" id="customerPhone">
    </div>
    <div class="col-md-6">
      <label>Customer Gender</label>
      <select name="customerGender" class="form-select">
        <option selected value="1">Male</option>
        <option value="2">Female</option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="customerAddress" class="form-label">Customer Address</label>
      <input type="text" class="form-control" id="customerAddress">
    </div>

    <div class="col-md-6">
      <label for="inputState" class="form-label">Rent type</label>
      <select id="inputState" class="form-select">
        <option selected value="diamond">Day</option>
        <option value="platinum">Month</option>
        <option value="gold">Year</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="customerType" class="form-label">Customer type</label>
      <select id="customerType" class="form-select">
        <option selected value="diamond">Diamond</option>
        <option value="platinum">Platinum</option>
        <option value="gold">Gold</option>
        <option value="member">Member</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block mb-4" style="text-align: center ">Edit</button>
    </div>
  </form>
</div>
